.carousel-container {
    margin: 2px;
    height: calc(100vh - 84px);
    overflow-x: hidden;
  }
  
  .slide {
    position: relative;
    height: calc(100vh - 84px);
  }

  .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 1;
  }
  
  .slide img {
    width: 99%;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    object-fit: cover;
  }
  

  .slide-number,
  .slide-desc,
  .slide-desc1,
  .slide-buttons,
  .slide-text {
    position: relative;
    z-index: 2;
  }

  .slide-number {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .slide-desc{
    position: absolute;
    top: 140px;
    left: 60px;
    padding: 24px;
    color: #f0f0f0;
    font-size: 48px;
    font-weight: bold;
  }

  .slide-desc1{
    position: absolute;
    top: 220px;
    left: 60px;
    padding: 20px;
    color: #98ff98;
    font-size: 20px;
    font-weight: normal;
  }

  .slide-buttons {
    position: absolute;
    top: 320px;
    left: 80px;
    display: flex;
    gap: 10px;
  }
  
  .slide-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #98ff98;
    color: #333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #btn2 {
    background-color: transparent;
    border: 2px solid #98ff98;
    color: #f0f0f0;
  }
  
  .slide-button:hover {
    background-color: #7aff7a;
  }


  .slide-text {
    position: absolute;
    bottom: 60px;
    left: 60px;
    padding: 20px;
    color: #98ff98; 
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .slick-slider, .slick-list, .slick-track {
    height: 100%;
  }
  
  .slick-slide > div {
    height: 100%;
  }
  